*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins";
}
.navbar{
    /* width: auto; */
    width: 150px;
    height: 100%;
    background-color: green;
    overflow: none;
    left: 0;
    position: fixed;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    padding-top: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center; */
}
.navbar p a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}
.active{
    color: rgb(69, 69, 69) !important;
}
.navbar p a:hover{
    color: rgb(69, 69, 69);
    transition: .2s ease;
}
.nav-icon{
    color: #f2f2f2;
}
.nav-icon a{
    color: #f2f2f2;
    cursor: pointer;
}
.nav-icon a:hover{
    transition: .2s ease;
}
.header{
    position: fixed;
    top: 0;
    overflow: none;
    /* left: 60px; */
    left: 0;
    width: 100%;
    height: 50px;
    background-color: green;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.header-title{
    text-align: center;
    color: #f2f2f2;
}
.main{
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .form{
    width: 100%;
} */
.form-input{
    width: 500px;
    height: 30px;
}
.report{
    text-align: center;
}
h2{
    color: #333;
}
